.background-img{
    background-image: url(/img/black-cassette-tape-on-top-of-red-and-yellow-surface-1626481.jpg);
height: 90vh;
background-size: cover;
background-attachment: fixed;
background-position: center;
}

.modal{
    position: absolute;
    top: 50%; right: 50%;
  transform: translate(50%,-50%);
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  width: 40%;
  height: 30%;
  border-radius: .5rem;
  

  h1{
      font-size: 4rem;
      margin: 2rem;
      font-weight: 600;
      text-transform: capitalize;

  }
  .show-modal{
      background-color: tomato;
      padding: 1rem 4rem;
      font-size: 1rem;
      border: 1px solid orangered;
      text-transform: uppercase;
      color: white;
      font-weight: 800;
      border-radius: .8rem;
      cursor: pointer;
  }
}



.modal-overlay{
    background-color: whitesmoke;
    position: absolute;
    top: 50%; right: 50%;
  transform: translate(50%,-50%);
    width: 30%;
    height: 30%;
    width:60%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: -1;
    
   


   
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    

}


.modal-container{
   width: 100vh;
   
}
.close-btn{
    position: absolute;;
    font-size: 3rem;
    color: red;
    cursor: pointer;
    right: 2rem;
    top: 0;
   /*  align-self: flex-start;
    justify-items: flex-end;
    flex: 0 0 5%;
    text-align: center; */
}

 .open-modal{
    visibility: visible;
    z-index: 1;
    
} 

